/*
    =======================
       1. General
    =======================
*/
body {
    background: #ffffff;
    width: 100%!important;
    height: 100%!important;
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
a, blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, li, object, ol, p, pre, select, span, textarea, ul {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
@font-face {

    font-family: FontAwesome;

    src: local(FontAwesome), url('../fonts/FontAwesome.otf') format('opentype');

}
@font-face {

    font-family: Wendy One;

    src: local(WendyOne-Regular), url('../fonts/WendyOne-Regular.ttf') format('opentype');

}
@font-face {

    font-family: Alfa Slab One;

    src: local(AlfaSlabOne-Regular), url('../fonts/AlfaSlabOne-Regular.ttf') format('opentype');

}
ol, li{
	list-style: none
}
a{
    text-decoration: none;
}
.all-links{
    color: #fff;
}
.clearfix:after, .clearfix:before, .nav:after{
    content: "";
    display: table;
}
.clearfix:after, .nav:after{
    clear: both;
}
.staticText {
    position: absolute;
    width: 60%;
    margin: 0 20%;
    top: 169px;
    text-align: center;
    z-index: 5;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
}
.breadcrumbs {
    font-size: 0.4em;
    text-transform: capitalize;
    color: #d2cfcf;
    text-shadow: none;
    font-weight: normal;
    margin-top: 15px;
}
.breadcrumbs li{
    display: inline-block;
    padding: 0 15px;
}
.breadcrumbs-div {
    font-size: 0.8em;
}
.breadcrumbs-links{
    color: #d2cfcf;
}
.breadcrumbs-links:hover{
    text-decoration: underline;
}
.error{
    font-size: 0.95em;
    color: red;
    float: left;
}
.url{
    display: none;
}
#mo-sliderFooter{
    display: none;
}
/*
    =======================
       2. Top Header
    =======================
*/
#headerTop{
    position: absolute;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #a09d9d;
    z-index: 5;
}
.container{
    width: 98%;
    margin: 0 auto ;
}
.headerItems-group{
    width: 98%;
    margin: 0 auto ;
}
.topBox{
    display: inline-block;
    padding: 15px 25px 15px 25px;
    border-right: 1px solid #a09d9d;
    float: left;
}
.topBox:first-child{
    padding: 15px 25px 15px 0px;
}
.topItem{
    color: #fff;
    font-size: 0.9em;
    float: left;
}
.topIcons{
    color: #fff;
}
.topIcons.topitem-icon{
    margin-right: 10px;
}



/*
    =======================
       3. Header 
    =======================
*/
#header{
    position: absolute;
    margin-top: 50px;
    width: 100%;
    padding: 15px 0;
    z-index: 99998;
}
#logo{
    width: 242px;
    height: 55px;
    float: left;
}
#logo img{
    width: 100%;
    height: 100%;
}

.show-on-scroll{
    float: left;
    padding: 16px 0px;
    margin-left: 77px;
    transition: all 300ms ease;
    margin-top: -113px;
    color: #9a9898;
}
.show-on-scroll .all-links, .show-on-scroll .topItem-icon, .show-on-scroll .topItem{
    color: #9a9898;
}
.show-on-scroll .topBox:first-child{
    border-right: 1px solid #9a9898;
}
.show-on-scroll .topBox:last-child{
    border-left: 1px solid #9a9898;
}
.show-on-scroll .topBox{
    padding: 2px 25px;
}
#menu, #search{
    font-size: 2em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin-top: 13px;
}
#menu{
    margin-right: 20px;
}
.fixed{
    position: fixed!important;
}
.popMenu, .popSearch{
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: rgba(3, 150, 239, 0.92);
    text-align: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.popMenu, .popSearch{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
.close-popMenu, .close-popSearch {
    position: absolute;
    right: 450px;
    top: 80px;
    font-size: 3em;
    color: #fff;
    cursor: pointer;
}
.close-popMenu, .close-popSearch{
    -webkit-animation-name: zoomOut;
    -webkit-animation-duration: 0.6s;
    animation-name: zoomOut;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoomOut {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(0)}
}
ul.nav{
    margin-top: 150px;
    font-size: 2.5em;
    color: #fff;
}
li.nav-item{
    padding: 10 0px;
}
li.nav-item .current-item{
    color: #ece70a
}
li.nav-item .all-links:hover{
    color: #ece70a
}
.searchInput{
    width: 35%;
    margin-top: 152px;
    padding: 2px 5px;
    font-size: 2em;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    
}
.searchInput::-webkit-input-placeholder {
   color: #fff;
}

.searchInput:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.searchInput::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.searchInput:-ms-input-placeholder {  
   color: #fff;  
}
.searchResults{
    width: 35%;
    max-height: 400px;
    margin: 35px auto;
    overflow: auto;
}
.searchItem{
    padding: 10px 5px;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: left;
}
.searchItem .resultsTitle{
    font-size: 1.6em;
}
.searchItem .resultsDate{
    font-size: 0.8em;
    padding: 8px 0;
}
.noResults {
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}


/*
    =======================
       4. Home
    =======================
*/
#slider{
    position: relative;
    width: 100%;
    height: 780px;
    z-index: 1;
    overflow: hidden;
}
#staticImage{
    position: relative;
    width: 100%;
    height: 400px;
    z-index: 1;
    overflow: hidden;
}
#staticImage img{
    width: 100%;
    max-height: 100%;
}
#slider:hover .owl-buttons div{
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: 100%;
}
.owl-buttons {
    position: absolute;
    width: 100%;
    top: 46%;
    z-index: 5;
}
.owl-next {
    position: absolute;
    right: 47px;
    margin-right: 15px;
}
.owl-prev {
    position: absolute;
    left: 47px;
    margin-left: 15px;
}
#slider:hover .owl-next{
    margin-right: 0px;
}
#slider:hover .owl-prev{
    margin-left: 0px;
}
.megaText {
    position: absolute;
    width: 60%;
    margin: 0 20%;
    top: 239px;
    text-align: center;
    z-index: 5;
    font-size: 1.7em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
}
.mega-smallText {
    font-size: 0.7em;
    text-transform: lowercase;
    width: 500px;
    margin: 37px auto 0 auto;
}
.call-to-action {
    padding: 30px 0;
    margin-top: 25px;
}
.btn{
    padding: 12px 25px;
    background: #00bff3;
    border-radius: 7px;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
}
.btn:hover{
    background: #07abd8;
    webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.btn.mega-btn{
    font-size: 0.5em;
    text-transform: uppercase;
}
.btn.mega-btn:first-child {
    padding: 12px 50px;
    margin-right: 54px;
}
#sliderFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #fff;
    z-index: 5;
}
.sliderFooter-item{
    display: inline-block;
    width: calc(100% / 3.1);
    border-right: 1px solid #fff;
    text-align: center;
    float: left;
}
.sliderFooter-item:last-child{
    border: none;
}
.sliderFooter-info{
    width: 63%;
    margin: 0 auto;
}
.sliderFooter-icon{
    float: left;
    text-align: right;
    font-size: 4em;
    margin-right: 8px;
}
.sliderFooter-info-tile {
    float: left;
    text-align: left;
    padding-top: 8px;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
}
.sliderFooter-info-sub-title {
    color: #20fbf3;
    float: left;
    text-align: left;
}
#slider-overlay, #midsection-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 4, 4, 0.49);
}
/*
    =======================
       4.1 Appointment Sec
    =======================
*/
#apt-section{
    position: fixed;
    width: 350px;
    top: 0;
    right: -350px;
    bottom: 0;
    background: #2772ff;
    z-index: 99999;
    padding: 0px 8px;
    overflow: auto;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.aptclose {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    text-align: center;
    padding-top: 4px;
    color: #fff;
    font-weight: bold;
    position: relative;
    left: -5px;
    cursor: pointer;
}
.aptHead{
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    text-transform: uppercase;
}
#appointmentForm{
    width: 90%;
    margin: 35px auto;
}
.apt-inputField {
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #021b48;
}
.apt-inputField-large {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #021b48;
    border-radius: 5px;
    resize: none;
}
.apt-subHead{
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    text-transform: uppercase;
}
.calTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Georgia, Times, serif;
    font-size: 0.8em;
    color: #fff
}

.calTable th {
  border: 1px solid #A8A8A8;
  vertical-align: middle;
}

.calTable td {
  width: calc(100% / 7);
  padding: 10px;
  border: 1px solid #A8A8A8;
  vertical-align: top;
  cursor: pointer;
}
.daysheader{
    font-size: 0.9em;
}
#monthandyear{
    padding: 10px 0;
    color: #fff;
}
.currentDay{
    background: #ff0808;
}
.selDate{
    padding: 5px 0;
    margin-right: 4px;
    float: left;
    color: #2772ff;
}
.aptDate{
    display: none;
    padding: 5px 0;
    float: left;
    color: #2772ff;
}
.aptDate-col.clearfix {
    width: 100%;
    height: 35px;
    padding: 3px 10px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #021b48;
}
.aptLabel {
    padding: 18px 0 0 0;
    color: #fff;
}
.aptReset {
    color: #fff;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}
div.apt-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #021b48;
    border-radius: 50%;
    font-size: 1.3em;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    background: #021b48;
    cursor: pointer;
    margin: 50px 40%;
}
.apt-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #021b48;
    border-radius: 50%;
    font-size: 1.3em;
    color: #fff;
    background: #021b48;
    cursor: pointer;
    margin: 50px 40%;
}
/* Wrapper div. That makes the inner div into an inline element that can be centered with text-align.*/
#calendaroverallcontrols {
  text-align: center;
}

/* This is a fluid div as width will be changing */
#calendarmonthcontrols {
  display: inline-block;
  /*background-color: #FF0000;*/
}
#prevmonthdates, #nextmonthdates {
    background: #695e5e;
    cursor: not-allowed;
}
.prevDays {
    background: #c5c4c4;
    cursor: not-allowed!important;
}
#step2{
    position: relative;
}
.loadcon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 60%;
    text-align: center;
    color: #fff;
}
#step2, #step3{
    display: none;              
}
.Det-box{
    margin-bottom: 15px;
}
.detLabel{
    padding: 10px 0;
}
.aptDet {
    font-size: 1.1em;
    color: #fff90b;
}
.sh-uerror {
    padding: 5px 10px;
    background: red;
    color: #fff;
}
.sh-aptsuccess{
    padding: 5px 10px;
    background: #11a009;
    color: #fff;
}
/*
    =======================
       4.2 Intro
    =======================
*/
.introText{
    padding: 35px 0px;
    text-align: center;
}
.mainTitle{
    padding: 15px 0;
    margin-bottom: 25px;
    color: #666666;
    text-transform: uppercase;
    text-align: center;
}
.mainTitle.showline{
    border-right: 1px solid #e2e2e2;
}
.intro-pText{
    width: 60%;
    margin: 0 auto 35px auto;
    line-height: 25px;
}
.main-btn{
    font-size: 1em;
}
/*
    =======================
       4.3 Services
    =======================
*/
#services{
    background: #f8f8f8;
    padding-bottom: 35px;
}
.allGroup{
    padding: 54px 0px 25px 0px;
    text-align: center;
}
.serviceGroup{
    text-align: center;
}
.serviceItem-Group{
    padding: 15px 0;
    width: 70%;
    margin: 0 auto 35px auto;
}
.serviceItem{
    display: inline-block;
    width: calc(100% / 3.1);
}
.MainIcon{
    color: #636664;
}
.serviceIcon{
    font-size: 5em;
    margin-bottom: 25px;
}
.serviceTitle{
    margin-bottom: 25px;
    font-size: 1.3em;
    font-weight: bold;
    color: #666666;
}
.serviceDesc{
    line-height: 25px;
    font-size: 1.2em;
}
.serviceItem:first-child{
    border-right: 1px solid #e2e2e2;
    padding-right: 25px;
}
.serviceItem:last-child{
    border-left: 1px solid #e2e2e2;
    padding-left: 25px;
}
/*
    =======================
       4.4 Why Us
    =======================
*/
.whyusGroup{
    display: inline-block;
    width: calc(100% / 2);
    float: left;
}
.whyusItem{
    display: inline-block;
    width: calc(100% / 2);
    height: 387.83px;
    max-height: auto;
    text-align: center;
    padding: 20px;
    float: left;
    color: #fff;
    font-size: 0.9em;
}
.whyusItem.firstItem{
    background: #565555;
}
.whyusItem.secondItem{
    background: #454545;
}
.whyusItem.thirdItem{
    background: #383939;
}
.whyusItem.fourthItem{
    background: #2a2a2a;
}
.whyusIcon{
    font-size: 3em;
    padding: 20px 0;
}
.whyusTitle{
    padding: 20px 0px;
    font-size: 1.3em;
    height: 86px;
    max-height: auto;
    text-transform: uppercase;
}
.whyusDesc{
    line-height: 25px;
}

/*
    =======================
        4.5 Blog
    =======================
*/
.blog-itemGroup{
    position: relative;
    padding: 10px 0px 35px 0px;
    text-align: center;
    left: -1600px;
    transition: all 300ms ease;
}
.blogItem{
    display: inline-block;
    width: calc(100% / 3.2);
    text-align: left;
    margin: 0px 10px 85px 0px;
}
.blogTitle{
    color: #00bff3;
    font-size: 0.9em;
    text-transform: uppercase;
    height: 52px;
    overflow: hidden;
}
.blogTitle .blog-links{
    color: #00bff3;
    text-decoration: none;
}
.blogInfo-head{
    float: left;
    margin-right: 15px;
    padding: 10px 0;
    color: #797676
}
.blogInfo-title{
    color: #00bff3;
    font-weight: bold;
}
.blogImage{
    width: 100%;
    height: 300px;
    margin: 5px 0 15px 0;
    overflow: hidden;
}
.blogImage img{
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.blogItem:hover .blogImage img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.blogContent{
    font-size: 0.95em;
    color: #797676;
    line-height: 25px;
    height: 75px;
    margin-bottom: 25px;
    overflow: hidden;
}
.homeBlog-btn{
    width: 100%;
    float: left;
}
.sub-btn{
    padding: 12px 25px;
    border: 2px solid #00bff3;
    border-radius: 24px;
    color: #757070;
    text-shadow: 0px 1px 1px #9c9797;
}

/*
    =======================
        4.6 Testmonials
    =======================
*/
.testGroup {
    text-align: center;
}
.test-box {
    margin-top: 40px;
    position: relative;
}
#owl-testimonials .item{
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.owl-theme .owl-controls{
    display: none!important;
}
.customNavigation{
  text-align: center;
  position: absolute;
  top: 12px;
  right: 9px;
}
.test-btn{    
    padding: 12px 12px;
    background: #07abd8;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    display: inline-block;
    cursor: pointer;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.test-item{
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 25px 8px 0px 0px;
    padding: 10px;
    color: #4e4b4b;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 4px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 4px 0px;
}
.testContent {
    font-size: 0.9em;
    line-height: 25px;
    margin: 43px 0px 0px 0px;
}
.testDivider{
    width: 50px;
    height: 2px;
    margin: 15px auto;
    background: red;
}
.testImage{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 4px solid #07abd8;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    top: -56px;
    left: 40%;
}
.testImage img{
    width: 100%;
    height: 100%;
}
/*
    =======================
        4.7 Clients
    =======================
*/
.clientGroup{
    text-align: center;
}
.clientGroup .clientbtn{
    margin: 30px 0;
}
.clientsItems{
    padding: 35px 0px
}
.clientsitem-list{
    width: 193px;
    height: 106px;
    float: left;
}
.clientsitem-list .client{
    width: 100%;
    height: 100%;
}
.client img{
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms 0s ease;
    -moz-transition: all 300ms 0s ease;
    -ms-transition: all 300ms 0s ease;
    -o-transition: all 300ms 0s ease;
    transition: all 300ms 0s ease;
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    -webkit-opacity: 0.3;
    opacity: 0.3;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    filter: alpha(opacity=30);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.client img:hover {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: gray;
}



/*
    =======================
        5. About
    =======================
*/
.about{
    padding: 54px 0px;
}
.sectionItem{
    display: inline-block;
    width: calc(100% / 2);
    float: left;
}
.sectionText{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 27px;
    padding: 0 25px;
}
p.aboutText{
    padding-bottom: 15px;
}
.sectionImage{
    height: 500px;
}
.sectionImage img{
    width: 100%;
    height: 100%;
}
.midSection{
    position: relative;
    padding: 54px 0;
    background: url("../images/about1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.midsection-Item {
    position: relative;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    z-index: 1;
    text-shadow: 0px 1px 1px #000;
}
.midsection-list{
    position: relative;
    width: 70%;
    margin: 35px auto;
    color: #fff;
    z-index: 1;
}
.midsection-listItem{
    display: inline-block;
    width: calc(100% / 3.1);
    height: 79px;
    padding: 10px;
    float: left;
    margin-right: 15px;
    background: rgba(0, 0, 0, 0.56);
}
.midsection-listItem:last-child{
    margin-right: 0;
}
/*
    =======================
        6. Services
    =======================
*/
.services{
    padding: 54px 0px 0px 0px;
}
.servicesItem{
    display: inline-block;
    width: calc(100% / 3.2);
    height: 224px;
    max-height: auto;
    margin: 0 15px 86px 0px;
}
.servicesItem:last-child{
    margin: 0 15px 0px 0px;
}
.servicesIcon{
    width: 80px;
    height: 80px;
    float: left;
    text-align: center;
    border-radius: 50%;
    border: 5px solid #e2e2e2;
    background: #fff;
}
.servicesIcon img{
    max-width: 60%;
    max-height: 100%;
    position: relative;
    top: 11px;
}
.serviceInfo-box {
    float: right;
    width: 81%;
}
.servicesName {
    font-size: 1.5em;
    padding: 10px 0px;
    color: #f7310f;
}
.servicesDesc {
    font-size: 1em;
    line-height: 25px;
    color: #4e4e4e;
}
/*
    =======================
        7. Team
    =======================
*/
.team-all{
    padding: 54px 0;
}
.teamItem{
    display: inline-block;
    width: calc(100% / 4);
    float: left;
    border: 1px solid #e2e2e2;
    text-align: center;
    padding: 35px 0;
}
.teamItem-Image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.teamItem-Image img{
    max-height: 100%;
    max-height: 100%;
}
.teamItem-name{
    padding: 15px 0;
    font-size: 1.5em;
}
.Vprofile{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    top: 0;
    background: rgba(7, 171, 216, 0.89);
    padding-top: 87px;
    font-size: 1.2em;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.teamItem:hover .Vprofile{
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.teamItem-socials {
    padding: 15px 0;
    margin-top: 26px;
}
.teamItem-icons.socialicons {
    padding: 5px 0px;
    text-align: left;
}
.teamItem-icons.socialicons .all-links {
    padding: 13px 10px;
}
.teamItem-icons.socialicons:first-child .all-links{
    padding: 13px 13px;
}
.teamItem-icons.socialicons:nth-child(4) .all-links {
    padding: 13px 10px;
}
.teamItem-title{
    font-style: italic;
}
.Bio {
    display: none;
}
.viewPro{
    position: fixed;
    height: 100%;
    top: 0;
    right: -400px;
    bottom: 0;
    width: 350px;
    z-index: 999999;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.viewPro-box{
    position: absolute;
    width: 100%;
    padding: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #0c0c0c;
    overflow: auto;
}
.viewImage{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.viewImage img {
    max-height: 100%;
    max-height: 100%;
}
.viewName {
    padding: 15px 0;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}
.viewTitle {
    font-style: italic;
    color: #fbf50d;
    text-align: center;
}
.viewLabel{
    font-style: italic;
    color: #fbf50d;
    margin-top: 25px;
    padding: 0px 0px 10px 0px;
}
.viewBio{
    color: #fff;
}
.viewSocials{
    text-align: center;
}
.closeView {
    position: absolute;
    z-index: 99999;
    color: #fff;
    padding: 15px;
    background: #0c0c0c;
    left: -37px;
    font-size: 1.1em;
    cursor: pointer;
}
/*
    =======================
        8. Contact
    =======================
*/
.contactForm{
    padding: 54px 0;
}
#contactForm{
    width: 60%;
    margin: 0 auto;
}
.input-box{
    width: 100%;
    padding: 5px 0px;
}
.input-small{
    display: inline-block;
    width: calc(100% / 2);
    height: 72px;
    float: left;
}
.push-right{
    float: right;
}
.inputField{
    width: 97%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #e2e2e2;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.inputField-large{
    font-family: 'Roboto', sans-serif;
    width: 98.5%;
    height: 200px;
    padding: 10px;
    resize: none;
    border: none;
    border-radius: 10px;
    background: #e2e2e2;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.inputField-large:focus, .inputField:focus{
    font-size: 1.1em;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #e2e2e2;
    background: #fff;
}
.submit-btn{
    border: none;
    font-size: 1.2em;
    text-transform: uppercase;
    float: right;
    margin-right: 12px;
    cursor: pointer;
}
.sendSpin {
    display: none;
    font-size: 0.4em;
    text-shadow: none;
}
.mailSuccess {
    display: none;
    background: rgba(5, 101, 5, 0.52);
    margin-bottom: 15px;
    padding: 15px 5px;
    color: #fff;
}
.mailError {
    display: none;
    background: rgba(247, 2, 2, 0.71);
    margin-bottom: 15px;
    padding: 15px 5px;
    color: #fff;
}
.contactInfo{
    position: absolute;
    width: 30%;
    height: 500px;
    float: left;
    background: black;
    z-index: 1;
}
#map{
    position: relative;
}
#mapSection{
    width: 100%;
    height: 500px;
    float: left;
}
#footerMap {
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

/*
    =======================
        9. Clients
    =======================
*/
.clientsGroup{
    padding: 54px 0px 80px 0px;
}
.clientItem{
    position: relative;
    display: inline-block;
    width: calc(100% / 3);
    border: 1px solid #f5f5f5;
    float: left;
    text-align: center;
    padding: 50px 0px;
    overflow: hidden;
}
.clientItem img{
    width: 60%;
    height: 60%;
}
.clientInfo{
    position: absolute;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    background: #07abd8;
    font-size: 1.2em;
    color: #fff;
    bottom: -64px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;    
}
.clientItem:hover .clientInfo{
    bottom: 0;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;    
}
.clientInfo:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    margin-top: -26px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 11px solid #07abd8;
}
/*
    =======================
        10. Values
    =======================
*/
.values{
    padding: 54px 0px 0px 0px;
}
.valueMain-text{
    width: 60%;
    margin: 35px auto 85px auto;
    font-size: 1.8em;
    text-align: center;
}
.valuesItem{
    display: inline-block;
    width: calc(100% / 3.2);
    max-height: auto;
    margin: 0 15px 86px 0px;
    float: left;
}
.valuesItem:last-child{
    margin: 0 15px 0px 0px;
}
.valuesIcon{
    width: 80px;
    height: 80px;
    float: left;
    text-align: center;
    border-radius: 50%;
    border: 5px solid #e2e2e2;
    background: #fff;
}
.valuesIcon img{
    max-width: 60%;
    max-height: 100%;
    position: relative;
    top: 11px;
}
.valuesInfo-box {
    float: right;
    width: 81%;
}
.valuesName {
    font-size: 1.5em;
    padding: 10px 0px;
    color: #f7310f;
}
.valuesDesc {
    font-size: 1em;
    line-height: 25px;
    color: #4e4e4e;
}
/*
    =======================
        11. Blogs
    =======================
*/
.blogsGroup{
    padding: 160px 0px 0px 0px;
}
#blogs{
    background: #f7f7f7;
}
.altblog, .altblog a{
    color: #000000!important;
}
.altblog .topIcons{
    color: #000000!important;
}
.blogPosts{
    width: 90%;
    margin: 0 auto;
}
.bloglist-group{
    width: 65%;
    height: 100%;
    float: left;
}
.bloglist-item{
    display: inline-block;
    width: calc(100% / 2.1);
    text-align: left;
    margin: 0px 10px 85px 0px;
    padding-bottom: 45px;
    border-bottom: 1px solid #e2e2e2;
    float: left;
}
.bloglist-Title{
    color: #00bff3;
    font-size: 0.8em;
    text-transform: uppercase;
    height: 46px;
    overflow: hidden;
}
.bloglist-Title .blog-links{
    color: #00bff3;
    text-decoration: none;
}
.bloglist-Info {
    font-size: 0.9em;
}
.bloglist-Info-head{
    float: left;
    margin-right: 15px;
    padding: 10px 0;
    color: #797676
}
.bloglist-Info-title{
    color: #00bff3;
    font-weight: bold;
}
.bloglist-Image{
    width: 100%;
    height: 300px;
    margin: 5px 0 15px 0;
    overflow: hidden;
}
.bloglist-Image img{
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.bloglist-item:hover .bloglist-Image img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.bloglist-Content{
    font-size: 0.95em;
    color: #797676;
    line-height: 25px;
    height: 75px;
    margin-bottom: 25px;
    overflow: hidden;
}
.blog-btn{
    padding: 6px 25px;
}
/*
    =======================
        12. Blog Post
    =======================
*/

.blog-breadcrumbs {
    font-size: 1em;
    text-transform: capitalize;
    color: #4a4a4a;
    text-shadow: none;
    font-weight: normal;
    margin: 25px 0px 55px 0px;
}
.blog-breadcrumbs li{
    display: inline-block;
    padding: 0 15px;
}
.blog-breadcrumbs-div {
    font-size: 0.8em;
}
.blog-breadcrumbs-links{
    color: #4a4a4a;
}
.blog-breadcrumbs-links:hover{
    text-decoration: underline;
}
.blogpost{
    width: 60%;
    float: left;
}
.blogpost .bloglist-group{
    width: 100%;
}
.blogpost .bloglist-item{
    width: 100%;
    border: none;
}
.blogpost .bloglist-Title{
    font-size: 1.5em;
}
.blogpost .bloglist-Image{
    height: 450px;
    -webkit-transition: none;
    transition: none;
    margin: 5px 0 0px 0;
}
.blogpost .bloglist-Image img{
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
}
.blogpost .bloglist-item:hover .bloglist-Image  img{
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
}
.blogpost .bloglist-Content{
    font-family: 'Roboto', sans-serif;
    height: auto;
    color: #484646;
    font-size: 1.1em;
}
.blogpost .bloglist-Content p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em!important;
    padding-bottom: 15px!important;
}
.blogpost .bloglist-Content span{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em!important;
}
.blogShare{
    width: 100%;
    margin-bottom: 15px;
    background: #e2e2e2;
}
.shareList{
    display: inline-block;
    width: calc(100% / 5);
    padding: 10px 0px;
    font-size: 1.1em;
    text-align: center;
    float: left;
    font-weight: bold;
}
.share-links{
    color: #fff;
    font-weight: normal;
    padding: 10px 72px;
}
.gcolor .share-links{
    padding: 10px 68px;
}
.fcolor{
    background: #3b5998;
}
.tcolor{
    background: #1da1f2;
}
.lcolor{
    background: #0077b5;
}
.gcolor{
    background: #dd4b39;
}
.blog-sidebar{
    width: 35%;
    float: right;
    padding: 0px 10px;
}
.sideblogList{
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.sideblogList:last-child{
    border: none;
}
.sideHeader {
    padding: 15px 0px;
    text-align: center;
    background: #0a0a0a;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;
}
.sBlog-image{
    width: 100%;
    height: 200px;
    position: relative;
}
.sBlog-image img{
    width: 100%;
    height: 100%;
}
.sBlog-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 5px;
    background: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    color: #fff;
}
.sblog-link{
    color: #fff;
}
.sBlog-content {
    padding: 10px 0px;
    font-size: 1em;
    line-height: 25px;
    height: 89px;
    margin-bottom: 16px;
    overflow: hidden;
}
.sBlog-content p{
    padding: 10px 0px!important;
    font-size: 1em!important;
    line-height: 25px!important;
    height: 89px!important;
    overflow: hidden!important;
}
.s-blog-link {
    color: #07abd8;
}
.s-blog-link:hover {
    text-decoration: underline;
}
/*
    =======================
        Footer
    =======================
*/
footer{
    position: relative;
    background: #0c0c0c;
    padding: 15px;
    text-align: center;
}
.footerItem{
    display: inline-block;
    width: calc(100% / 3.2);
    height: 308px;
    margin: 0px 15px;
    color: #bbbbbb;
    float: left;
}
.footer-logo{
    width: 200px;
    height: 50px;
    opacity: 0.2;
    margin: 5px 0px 15px 0px;
}
.footer-logo img{
    width: 100%;
    height: 100%;
}
.footerAbout {
    font-size: 0.9em;
    line-height: 25px;
    text-align: left;
    color: #bbbbbb;
    padding: 14px 0;
}
table{
    color: #bbbbbb;
    border-collapse: 
}
.footer-links{
    color: #bbbbbb;
}
table tr{
    height: 30px;
}
.footerIcons{
    text-align: right;
    color: #bbbbbb;
    padding-right: 15px;
}
.footerTitle{
    width: 100%;
    text-align: left;
}
.sitemap{
    padding-left: 85px;
}
.sitemap-title{
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.sitemap-item{
    padding: 7px 0px;
    width: calc(78% / 2);
    float: left;
}
.googleReview{
    width: 200px;
    height: 80px;
    margin: 26px 0px 0px 80px;
}
.googleReview img{
    width: 100%;
    height: 100%;
}
.footer-map {
    width: 75%;
    height: 214px;
    border: none;
}
.socialGroup{
    padding: 20px 0px;
    text-align: center;
}
.socialicons{
    display: inline-block;
    background: #00bff3;
    padding: 13px 0px;
    margin-right: 10px;
    font-size: 1.2em;
    border-radius: 5px;
}
.socialicons:hover{
    background: #07abd8;
}
.socialicons .all-links{
    padding: 13px 20px;
}
.socialicons:nth-child(4) .all-links{
    padding: 13px 16px;
}
.scrolltop{
    position: fixed;
    width: 50px;
    padding-top: 15px;
    height: 50px;
    border-radius: 3px;
    background: #07abd8;
    right: 10px;
    bottom: 117px;
    color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
}
.footer{
    background: #0c0c0c; 
    padding: 20px 0;
    color: #bbbbbb;
}
.copyright{
    float: left;
    padding: 10px;
}
.dev{
    float: right;
    padding: 10px;
}
.dev .all-links{
    text-decoration: underline;
}
/*
    =======================
        Footer End
    =======================
*/
@media only screen and (max-width: 1598px) and (min-width: 1025px){

}
@media only screen and (max-width: 1152px) and (min-width: 1025px){
    #logo {
        width: 170px;
        height: 50px;
    }
    .show-on-scroll {
        margin-left: 0px;
        font-size: 0.8em;
    }
    .show-on-scroll .topBox {
        padding: 2px 18px;
    }
    #menu, #search {
        font-size: 1.5em;
    }
    .sliderFooter-info {
        width: 91%;
    }
    .owl-carousel {
        height: 100%;
    }
    .item {
        height: 100%;
    }
    .owl-carousel .owl-wrapper-outer {
        height: 100%;
    }
    .owl-carousel .owl-wrapper {
        height: 100%;
    }
    .owl-carousel .owl-item {
        height: 100%;
    }
    .serviceItem {
        float: left;
    }
    .testImage {
        left: 36%;
    }
    .clientsitem-list {
        float: none;
        display: inline-block;
    }
    .midsection-list {
        width: 88%;
    }
    .servicesItem {
        height: auto;
        float: left;
    }
    .servicesIcon {
        float: none;
        margin: 10px auto;
    }
    .servicesName {
        font-size: 1.5em;
        padding: 10px 0px;
        color: #f7310f;
        width: 100%;
        float: left;
        text-align: center;
    }
    .servicesName {
        float: left;
        text-align: center;
    }
}
@media only screen and (max-width: 1024px){
    .megaText {
        top: 190px;
    }
    .topItem {
        font-size: 0.68em;
    }
    .show-on-scroll {
        display: none;
    }
    .sliderFooter-info {
        width: 100%;    
    }
    .sliderFooter-icon {
        padding-left: 5px;
    }
    .intro-pText {
        width: 100%;
    }
    .serviceItem-Group {
        width: 100%;
    }
    .serviceItem {
        float: left;
    }
    .blogTitle {
        font-size: 0.7em;
        height: 40px;
    }
    .blogImage {
        height: 249px;
    }
    .testImage {
        left: 33%;
    }
    .clientsitem-list {
        display: inline-block;
        width: 193px;
        height: 106px;
        float: none;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    .sitemap {
        padding-left: 5px;
    }
    .footerItem {
        display: inline-block;
        width: calc(100% / 3.3);
        height: 308px;
        margin: 0px 15px;
        color: #bbbbbb;
    }
    .footer-map {
        width: 100%;
    }
    .socialicons{
        padding: 6px 0;
    }
    .socialicons .all-links {
        padding: 13px 13px;
    }
    .socialicons:nth-child(4) .all-links {
        padding: 13px 9px;
    }
    .scrolltop {
        width: auto;
        padding: 9px;
        height: auto;
    }
    .close-popMenu, .close-popSearch {
        right: 36px;
    }
    .searchInput {
        width: 80%;
    }
    .searchResults {
        width: 80%;
    }
    footer {
        padding: 10px 5px;
        padding-bottom: 110px;
    }
    .sectionText {
        padding: 0 25px 0 0px;
    }
    .midsection-Item {
        width: 100%;
    }
    .midsection-list {
        width: 100%;
    }
    .midsection-listItem {
        width: calc(100% / 3.2);
        height: 82px;
        padding: 10px;
    }
    #staticImage img {
        height: 100%;
    }
    .servicesItem {
        width: calc(100% / 2.2);
    }
    #contactForm {
        width: 80%;
    }
    .owl-carousel .owl-wrapper-outer {
        height: 100%;
    }
    .owl-carousel .owl-wrapper {
        height: 100%;
    }
    .item {
        height: 100%;
    }
    .owl-carousel {
        height: 100%;
    }
    .owl-carousel .owl-item {
        height: 100%;
    }
    .popMenu, .popSearch {
        overflow: auto;
    }
    ul.nav {
        margin: 150px 0px;
    }
}
@media only screen and (max-width: 768px){
    .topBox {
        padding: 15px 4px 15px 8px;
    }
    .topItem {
        font-size: 0.68em;
    }
    #slider {
        height: 643px;
    }
    .megaText {
        width: 80%;
        margin: 0 10%;
    }
    .sliderFooter-icon {
        font-size: 2em;
    }
    .sliderFooter-info-tile {
        font-size: 1em;
    }
    .sliderFooter-info-sub-title {
        font-size: 0.8em;
    }
    .sliderFooter-item {
        width: calc(100% / 3);
        padding-bottom: 5px;
    }
    .serviceIcon {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    .serviceTitle {
        font-size: 1em;
    }
    .serviceDesc {
        font-size: 1em;
    }
    .whyusGroup {
        width: 100%;
    }
    .whyusGroup .mainTitle {
        font-size: 0.8em;
    }
    .blogItem {
        width: calc(100% / 2.1);
    }
    .blogItem:nth-child(3){
        display: none;
    }
    .clientsitem-list {
        width: 180px;
        height: 106px;
    }
    .valueMain-text {
        width: 85%;
    }
    .valuesItem {
        width: 100%;
    }
    .blogPosts {
        width: 100%;
    }
    .bloglist-item{
        margin: 0px 10px 35px 0px;
    }
    .bloglist-Title {
        font-size: 0.6em;
        height: 35px;
    }
    .bloglist-Info {
        font-size: 0.7em;
    }
    .bloglist-Image {
        height: 169px;
    }
    .footerItem {
        width:  98%;
        height: auto;
        margin: 25px 15px;
    }
    .sitemap-title {
        text-align: center;
    }
    .sitemap-item {
        display: inline-block;
        width: calc(78% / 4);
        float: none;
    }
    .footer-map {
        display: none;
    }
    footer {
        padding: 10px 5px;
        padding-bottom: 19px;
    }
    .sectionItem {
        width: 100%
    }
    .sectionImage {
        display: none;
    }
    .midsection-listItem {
        height: 96px;
    }
    .servicesItem {
        width: 100%;
        height: auto;
    }
    .teamItem {
        width: calc(100% / 3);
    }
    #contactForm {
        width: 90%;
    }
}
@media only screen and (max-width: 767px){
    .blog-sidebar {
        display: none;
    }
    .bloglist-group {
        width: 100%;
        float: none;
    }
    .topBox {
        padding: 15px 4px 15px 8px;
    }
}
@media only screen and (max-width: 709px){
    .topGroup{
        display: none;
    }
    #header{
        margin-top: 0px;
    }
}
@media only screen and (max-width: 600px){
    .testImage {
        left: 43%;
    }
}
@media only screen and (max-width: 500px){
    .testImage {
        left: 40%;
    }
}
@media only screen and (max-width: 425px){
    #headerTop{
        display: none;
    }
    #header {
        margin-top: 0!important;
        width: 100%;
    }
    #logo {
        width: 190px;
        height: 45px;
    }
    #menu, #search {
        margin-top: 0;
    }
    #menu{
        margin-right: 18px;
    }
    .megaText {
        width: 95%;
        margin: 0 2.5%;
        top: 128px;
        font-size: 1em;
    }
    #slider {
        height: 383px;
    }
    #sliderFooter{
        display: none;
    }
    #mo-sliderFooter{
        display: block;
        background: #e2e2e2;
    }
    #mo-sliderFooter .sliderFooter-item {
        width: 70%;
        float: none;
        display: block;
        padding: 19px 10px;
        margin: 0 auto;
        background: #e2e2e2;
        border: none;
        font-size: 1.2em;
    }
    .topIcons {
        color: #545252;
    }
    .sliderFooter-info-tile {
        float: none;
        color: #1f1e1e;
    }
    .sliderFooter-info-sub-title {
        color: #08b0de;
    }
    .mega-smallText {
        width: 60%;
    }
    .owl-theme .owl-controls {
        display: none!important;
    }
    .mainTitle{
        font-size: 0.7em;
    }
    .intro-pText {
        font-size: 0.9em;
    }
    .serviceItem {
        width: calc(100%);
        border: none!important;
        padding: 0!important;
    }
    .serviceIcon {
        margin-top: 25px;
        margin-bottom: 0;
    }
    .serviceItem:first-child .serviceIcon {
        margin-top: 0;
        margin-bottom: 0;
    }
    .whyusItem {
        width: 98%;
        margin: 0 auto;
        height: 387.83px;
        float: none;
    }
    .blogItem {
        width: 98%;
        margin: 0 auto 45px auto;
    }
    .bloglist-item {
        display: block;
        width: 95%;
        margin: 20px  auto;
        float: none;
    }
    .testImage {
        left: 36%;
    }
    .valueMain-text {
        font-size: 1.2em;
    }
    .valuesIcon {
        float: none;
        margin: 0 auto;
    }
    .valuesItem {
        width: 90%;
        float: none;
        display: block;
        margin: 0 auto!important;
    }
    .valuesInfo-box {
        float: none;
        width: 100%;
        text-align: center;
    }
    .footerItem {
        margin: 25px 0px;
    }
    .footerTitle {
        width: 100%;
        text-align: center;
    }
    .copyright, .dev {
        text-align: center;
        width: 100%;
    }
    .staticText{
        font-size: 1.7em;
    }
    #staticImage {
        height: 383px;
    }
    .sectionItem {
        display: block;
        padding: 0;
        font-size: 1em;
        width: 90%;
        margin: 0 auto;
        float: none;
    }
    .sectionImage {
        display: none;
    }
    .midsection-Item {
        font-size: 1em;
    }.midsection-listItem {
        width: 80%;
        height: auto;
        margin: 15px auto!important;
        float: none;
        display: block;
    }
    .servicesItem {
        width: 90%;
        margin: 20px auto!important;
        float: none;
        display: block;
    }
    .servicesIcon {
        width: 80px;
        height: 80px;
        float: none;
        margin: 0 auto;
    }
    .serviceInfo-box {
       float: none;
        width: 100%;
        text-align: center;
    }
    .servicesName {
        text-align: center;
    }
    .teamItem {
        width: 80%;
        margin: 0 auto;
        display: block;
        float: none;
    }
    .input-small {
        width: 100%;
    }
    .clientItem {
        display: block;
        width: 80%;
        float: none;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 375px){
    #mo-sliderFooter .sliderFooter-item {
        width: 100%;
        padding: 19px 10px 19px 31px;
    }
    .searchResults, .searchInput {
        width: 97%;
    }
    .hide-mo{
        display: none;
    }
}