/*
    =======================
       1. General
    =======================
*/
body {
    background: #ffffff;
    width: 100%!important;
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
#admin-body{
    background: #000000;
}
a, blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, li, object, ol, p, pre, select, span, textarea, ul {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
@font-face {

    font-family: FontAwesome;

    src: local(FontAwesome), url('../fonts/FontAwesome.otf') format('opentype');

}
@font-face {

    font-family: Wendy One;

    src: local(WendyOne-Regular), url('../fonts/WendyOne-Regular.ttf') format('opentype');

}
@font-face {

    font-family: Alfa Slab One;

    src: local(AlfaSlabOne-Regular), url('../fonts/AlfaSlabOne-Regular.ttf') format('opentype');

}
ol, li{
	list-style: none
}
a{
    text-decoration: none;
}
.all-links{
    color: #fff;
}
.clearfix:after, .clearfix:before, .nav:after{
    content: "";
    display: table;
}
.clearfix:after, .nav:after{
    clear: both;
}
.userLogin{
    width: 350px;
    margin: 10% auto;
    padding: 10px;
    background: #0c0c0c;
}
.userSignup{
    width: 350px;
    margin: 5% auto;
    padding: 10px;
    background: #0c0c0c;
}
.login-image{
    width: 80%;
    height: 60px;
    margin: 10px auto 25px auto;
}
.login-image img{
    width: 100%;
    height: 100%;   
}
.inputBox{
    width: 80%;
    margin: 15px auto;
    text-align: center;
}
.adInput{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: #2f2f2f;
    color: #fff;
    text-align: left;
}
.opts{
    color: #fd0bdd;
    text-align: left;
    margin: 0 0 10px 0;
    font-size: 0.9em;
    float: left;
    margin-right: 15px;
}
.error{
    color: #ff0000;
    text-align: left;
    margin: 0 0 10px 0;
    font-size: 0.9em;
    float: left;
}
.sub-btn {
    padding: 7px 35px;
    text-align: center;
    font-size: 1.1em;
    background: #00bff3;
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    margin: 15px 0px 15px 0;
    cursor: pointer;
}
.logFooter {
    padding: 7px 0;
    color: #c6ea0a;
}
.logFooter a{
    color: #c6ea0a;
    text-decoration: underline;
}
.LogResponse {
    display: none;
    width: 100%;
    padding: 15px;
    background: #02fb8a;
    color: #29820d;
    margin-bottom: 20px;
}
.container{
    width: 65%;
    background: #f4f4f4;
    margin: 0 auto;
    padding-bottom: 50px;
}
.header{
    padding: 0px 10px;
    background: #0a94b9;
}
.nav{
    float: right;
}
.nav-item{
    float: left;
    padding: 10px 12px;
}
.all-link{
    color: #fff;
}
.current{
    background: #06576d;
}
.blogForm{
    width: 85%;
    margin: 55px auto;
}
.input-box {
    display: inline-block;
    width: 100%;
    float: left;
    margin-bottom: 25px;
    position: relative;
}
.uploadImage {
    padding: 10px 28px;
    position: absolute;
    right: 0;
    top: 0;
    background: #0a94b9;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.duploadImage {
    display: none;
    padding: 10px 28px;
    position: absolute;
    right: 0;
    top: 0;
    background: #777575;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.viewimage-details {
    position: relative;
    margin: 8px 0px;
    padding: 10px 19px;
    background: #e2e2e2;
    width: 290px;
    overflow: hidden;
}
.viewup-box {
    position: relative;
    width: 290px;
}
.closeinput {
    position: absolute;
    right: 14px;
    top: 14px;
}
.inputField {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #e2e2e2;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.inputField-large {
    font-family: 'Roboto', sans-serif;
    width: 97%;
    height: 200px;
    padding: 10px;
    resize: none;
    border: none;
    border-radius: 10px;
    background: #e2e2e2;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.btn {
    padding: 12px 25px;
    background: #00bff3;
    border-radius: 7px;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
}
.submit-btn {
    border: none;
    font-size: 1.2em;
    text-transform: uppercase;
    float: right;
    margin-right: 12px;
    cursor: pointer;
}
.btn:hover {
    background: #07abd8;
    webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.successBox {
    display: none;
    padding: 20px 10px;
    margin: 0px 0px 10px 0px;
    background: #0ab941;
    color: #fff;
}
.errorBox {
    display: none;
    padding: 20px 10px;
    margin: 0px 0px 10px 0px;
    background: #0ab941;
    color: #fff;
}
.sendSpin {
    display: none;
    font-size: 0.4em;
    text-shadow: none;
}